#gameinfo { font-size: 110%; } /* размер шрифта в текстовом поле, с ID=gameinfo */ 
#game table{ /* описывает стиль таблицы с крестиками и ноликами */ 
 border:3px groove black; /* окаёмка таблицы */ 
 background: gray; /* фоновая картинка для игры */ } 
#game table tr td{ /* стиль для одной ячейки в таблице – где будет располагаться крестик, либо нолик, или просто будет пустовать */ 
 border:1px dotted #eeb; /* опишем обводку клетки */ 
 cursor:pointer; /* установим вид курсора мыши, чтобы показать, что можно кликать на клетку */ } 
#game table tr td:hover{ border:1px solid #ffa; } /* подсвечивание клетки, при наведении на неё курсора мыши */